@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>
@Html.Hidden("hiddenToken", new Guid().ToString() + DateTime.Now.Ticks)


<button id="btn" >提交</button>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script>
    $('#btn').on('click', function () {
        $.post('/Home/Create', { hiddenToken: $('#hiddenToken').val() });
    });
</script>